In [7]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

Будем играть с ценами на подержанные авто.

In [60]:

n_samples = 500

doors = np.random.choice(3, n_samples) + 2  #колмчество дверей
years = np.random.choice(15, n_samples) + 1  #количество лет
orig_price = np.random.choice(500000, n_samples) + 1000000  #цена новой машины

price = np.round((orig_price - 100 )  * (0.9 / (years)),0 ) #цена подержанного авто

data = pd.DataFrame({'doors': doors, 'years': years, 'orig_price': orig_price, 'price': price})
data.head(5)

   doors  years  orig_price      price
0      3      9     1246662   124656.0
1      2      5     1237481   222729.0
2      2      2     1303649   586597.0
3      4     12     1153121    86477.0
4      2      1     1258302  1132382.0

строим линейную регрессию

In [55]:
from sklearn.metrics import mean_absolute_error

X = data[['doors', 'years', 'orig_price']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-1.19126626e+04 -3.93288894e+04  1.86317643e-01]
Bias: 329946.259531904
Error: 109186.0291789141

у нас колмчество дверей получилось имеет больший вес, чем цена.
уберем двери, потому что они из общих соображений не влияют на цену

In [61]:
X = data[['years', 'orig_price']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-4.62188495e+04  1.31684256e-01]
Bias: 458059.1108686882
Error: 126798.81855881061

Подумали подумали и решили попробовать поделить признаки ))

In [62]:
data['mult'] = data['orig_price'] / data['years']
data.head(5)

   doors  years  orig_price      price          mult
0      3      9     1246662   124656.0  1.385180e+05
1      2      5     1237481   222729.0  2.474962e+05
2      2      2     1303649   586597.0  6.518245e+05
3      4     12     1153121    86477.0  9.609342e+04
4      2      1     1258302  1132382.0  1.258302e+06

In [63]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.8999282]
Bias: -0.19091359441517852
Error: 2.0240422943649756

И о чудо!