In [1]:
import pandas as pd

In [14]:
data = pd.read_csv('E:\\Netology\\Doc\\ml-20m\\ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [39]:
data[ data.rating == 5.0 ].groupby(['movieId','rating']).count().sort_values('userId', ascending=False).head(1)

                userId  timestamp
movieId rating
318     5.0      31896      31896

In [68]:
# Задание 2
data = pd.read_csv('E:\\Netology\\Doc\\10._Основы_pandas\\power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [72]:
data[((data.country=="Estonia") | (data.country=="Lithuania") | (data.country=="Latvia"))
    & ((data.category==4)|(data.category==12)|(data.category==21))
    &(data.year >= 2005)  & (data.year <= 2010)
    &(data.quantity > 0)]['quantity'].sum()

240580.0

In [76]:
# и более гуманный вариант
data[(data.country.isin(["Estonia","Lithuania","Latvia"]))
    & (data.category.isin([4,12,21]))
    &(data.year >= 2005)  & (data.year <= 2010)
    &(data.quantity > 0)]['quantity'].sum()

240580.0

In [82]:
# Задание 3
df = pd.read_html('https://fortrader.org/quotes')
df

[                               Type    Last   Chg.  Chg.%  Time
 0  Нефть (BRENT) Курс нефти сегодня  63.330  0.000  0.000   NaN
 1   Нефть (WTI) Цены на нефть (WTI)  57.880  0.000  0.000   NaN
 2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
 3                   Газ Цена на газ   2.669  0.001  0.037   NaN,
                                     Type          Last      Chg.     Chg.%  \
 0                      ВТБ Акции ОАО ВТБ       0.04686  +0.00404   9.43484
 1                 Газпром Акции газпрома     248.14000     +6.27   2.59000
 2                    Лукоил Акции Лукойл    6167.50000       0.0   0.00000
 3                Роснефть Акции Роснефти     457.05000    +35.80   8.50000
 4               Сбербанк Акции Сбербанка     239.86000     -1.29  -0.53000
 5   Сургутнефтегаз Акции Сургутнефтегаза      46.46000    +4.845  11.64200
 6              Норникель Акции Норникель   17708.00000         0   0.00000
 7               Аэрофлот Акции Аерофлота     105.45000     +8.64   8.92000
 8            Северсталь Акции Северсталь     880.60000      +4.8   0.50000
 9            Транснефть Акции транснефти  174800.00000    +8 500   5.00000
 10     Ростелеком Курс акций ростелекома      80.95000     +8.12  11.15000
 11                     RUSAL акции RUSAL       3.49000     -0.01  -0.29000

     Time
 0    NaN
 1    NaN
 2    NaN
 3    NaN
 4    NaN
 5    NaN
 6    NaN
 7    NaN
 8    NaN
 9    NaN
 10   NaN
 11   NaN  ,
                           Type      Last   Chg.  Chg.%  Time
 0      Серебро Цена на серебро    16.943  0.001  0.006   NaN
 1      Платина Цены на платину   890.600 -0.100 -0.000   NaN
 2    Палладий Цена на палладий  1667.350  0.100  0.010   NaN
 3      Медь Цена меди на бирже     2.636  0.000  0.000   NaN
 4  Золото Цена золота на бирже  1466.540 -0.100 -0.010   NaN,
                                 Type    Last   Chg.  Chg.%  Time
 0               Яндекс Акции яндекса   35.77   0.00   0.00   NaN
 1          Microsoft Microsoft Corp.  149.76   0.00   0.00   NaN
 2                  APPLE Акции APPLE  264.99   0.00   0.00   NaN
 3                Toyota Акции Тойоты  120.94   0.00   0.00   NaN
 4   Volkswagen Курс акций Volkswagen  181.66   0.00   0.00   NaN
 5       Facebook Цена акций Facebook  194.98   0.00   0.00   NaN
 6          Tesla Цены на акции Тесла  351.83   0.00   0.00   NaN
 7          Twiter Цена акций твитера   29.25   0.00   0.00   NaN
 8  Hasbro Цена на акции Hasbro, Inc.   95.38  10.51  12.38   NaN,
                                                 Type       Last     Chg.  \
 0                         EURUSD Курс евро к доллару    1.10534 -0.00009
 1   AUDUSD Курс австралийского доллара к доллару сша    0.68139 -0.00053
 2         AUDCAD Australian Dollar / Canadian Dollar    0.90128 -0.00019
 3                          EURCHF Euro / Swiss Franc    1.09399  0.00037
 4                  EURGBP Euro / Great Britain Pound    0.85658  0.00016
 5                         EURJPY Euro / Japanese Yen  120.27500  0.05200
 6          GBPJPY Great Britain Pound / Japanese Yen  140.38300  0.04300
 7                        GBPUSD Курс фунта к доллару    1.29016  0.00012
 8       USDCAD Курс канадского доллара к доллару сша    1.32272  0.00067
 9              NZDUSD New Zealand Dollar / US Dollar    0.64005  0.00002
 10                    USDCHF US Dollar / Swiss Franc    0.98974  0.00017
 11         USDCNH Курс китайского юаня к доллару США    7.00424 -0.06175
 12                        USDJPY Курс йены к доллару  108.81600  0.03200

       Chg.%  Time
 0  -0.00814   NaN
 1  -0.07772   NaN
 2  -0.02108   NaN
 3   0.03383   NaN
 4   0.01868   NaN
 5   0.04300   NaN
 6   0.03100   NaN
 7   0.00930   NaN
 8   0.05068   NaN
 9   0.00312   NaN
 10  0.01718   NaN
 11 -0.87390   NaN
 12  0.02900   NaN  ,
                                                  Type           Last  \
 0                               Bitcoin Курс биткоина    8462.110000
 1          Litecoin Курс лайткоин к доллару (LTC/USD)      57.572000
 2   BitcoinCash Курс Биткоин кеш к доллару США (BC...     263.060000
 3                                           Dash Dash      67.670000
 4                                       Ripple Ripple       0.258870
 5                                   Ethereum Ethereum     179.410000
 6                                   EmerCoin EmerCoin       0.140050
 7                                   NameCoin NameCoin       0.274000
 8                                   PeerCoin PeerCoin       1.300000
 9                             BTCRUB биткоин в рублях  247059.000000
 10                              BTCEUR биткоин в евро    7646.300000
 11                                        Zcash (ZEC)      36.155000
 12                                          NEO (NEO)      11.922000
 13                                          EOS (EOS)       3.337000
 14                                         TRON (TRX)       0.018524
 15                                             Monero      62.236000
 16                                            Cardano       0.044262
 17                                               IOTA       0.256680
 18                       ETC/USD эфириум классик, ETC       4.556000

          Chg.      Chg.%  Time
 0      +9.140   0.108000   NaN
 1      -0.847  -1.450000   NaN
 2      +0.540   0.206000   NaN
 3      +0.070   0.104000   NaN
 4    -0.00087  -0.334950   NaN
 5      -0.117  -0.065000   NaN
 6     0.00000   0.000000   NaN
 7      -0.051 -15.692000   NaN
 8       +0.16  14.040000   NaN
 9   -3 097.00  -1.240000   NaN
 10    +15.790   0.207000   NaN
 11     +0.155   0.431000   NaN
 12     -0.470  -3.795000   NaN
 13     -0.045  -1.331000   NaN
 14  -0.000185  -0.988829   NaN
 15     +0.659   1.070000   NaN
 16  +0.000288   0.654932   NaN
 17   +0.00047   0.183440   NaN
 18     -0.085  -1.832000   NaN  ,
                                        Type       Last    Chg.  Chg.%  Time
 0   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00    0.00    0.0   NaN
 1                      РТС Курс индекса РТС    1451.85    0.00    0.0   NaN
 2                                     DAX30   13228.60   -2.50   -0.0   NaN
 3                       Индекс Dow 30 (DJI)   27937.00  -12.00   -0.0   NaN
 4                                      FTSE    7137.70 -162.00   -2.2   NaN
 5                                    CAC 40    5279.70    0.00    0.0   NaN
 6                                Nasdaq 100    8313.37   -0.25   -0.0   NaN
 7                              Russell 2000    1594.50    6.20    0.4   NaN
 8                                   S&P 500    2816.30   10.80    0.4   NaN
 9                                   IBEX 35    9246.30    0.00    0.0   NaN
 10                               Nikkei 225   21779.00   39.00    0.0   NaN
 11                            Euro Stoxx 50    3705.70   -1.90   -0.1   NaN
 12                                  S&P 500    3117.60   -2.30   -0.1   NaN
 13                              S&P/ASX 200    6790.90    1.00    0.0   NaN
 14                                      MIB   23552.00    0.00    0.0   NaN,
                                Type     Last    Chg.   Chg.%  Time
 0  EURRUB Курс евро к рублю сегодня  70.3945  0.0000  0.0000   NaN
 1       USDRUB Курс рубля к доллару  63.7530  0.0131  0.0206   NaN]

In [83]:
df[:2]

[                               Type    Last   Chg.  Chg.%  Time
 0  Нефть (BRENT) Курс нефти сегодня  63.330  0.000  0.000   NaN
 1   Нефть (WTI) Цены на нефть (WTI)  57.880  0.000  0.000   NaN
 2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
 3                   Газ Цена на газ   2.669  0.001  0.037   NaN,
                                     Type          Last      Chg.     Chg.%  \
 0                      ВТБ Акции ОАО ВТБ       0.04686  +0.00404   9.43484
 1                 Газпром Акции газпрома     248.14000     +6.27   2.59000
 2                    Лукоил Акции Лукойл    6167.50000       0.0   0.00000
 3                Роснефть Акции Роснефти     457.05000    +35.80   8.50000
 4               Сбербанк Акции Сбербанка     239.86000     -1.29  -0.53000
 5   Сургутнефтегаз Акции Сургутнефтегаза      46.46000    +4.845  11.64200
 6              Норникель Акции Норникель   17708.00000         0   0.00000
 7               Аэрофлот Акции Аерофлота     105.45000     +8.64   8.92000
 8            Северсталь Акции Северсталь     880.60000      +4.8   0.50000
 9            Транснефть Акции транснефти  174800.00000    +8 500   5.00000
 10     Ростелеком Курс акций ростелекома      80.95000     +8.12  11.15000
 11                     RUSAL акции RUSAL       3.49000     -0.01  -0.29000

     Time
 0    NaN
 1    NaN
 2    NaN
 3    NaN
 4    NaN
 5    NaN
 6    NaN
 7    NaN
 8    NaN
 9    NaN
 10   NaN
 11   NaN  ]